@charset "utf-8";
body {
	margin:0;
}
.container {
	height: 1080px;
	width: 1920px;
	background-color: #46A63F;
}
.thirdPage {
	float: left;
	height: 944px;
	width: 504px;
	font-family: "Century Gothic";
	font-size: 36pt;
	color: #1B1B1B;
	padding-right: 68px;
	padding-left: 68px;
	text-align: center;
}

.contentPanel {
	float: left;
	height: 303px;
	width: 960px;
}
.divider {
	height: 17px;
	width: 860px;
	background-color: #1B1B1B;
	float: left;
	margin-right: 50px;
	margin-left: 50px;
}


.border {
	background-color: #1B1B1B;
	float: left;
	height: 68px;
	width: 1920px;
	font-family: "Century Gothic";
	font-size: 38pt;
	color: #B9D143;
}
.halfPage {
	float: left;
	height: 944px;
	width: 960px;
}
.header {
	font-family: "Century Gothic";
	font-weight: normal;
	height: 115px;
	width: 940px;
	float: right;
	text-align: center;
	text-transform: uppercase;
	font-size: 72pt;
	color: #1B1B1B;
	border: 10px solid #1B1B1B;
	background-color: #B9D143;
	margin-top: 25px;
}
.logoBox {
	height: 68px;
	float: left;
}
.contentImage {
	margin: 25px;
	float: left;
	height: 233px;
	width: 233px;
	border: 10px solid #1B1B1B;
	background-color: #B9D143;
}
.contentText {
	margin: 25px;
	height: 233px;
	border: 10px solid #1B1B1B;
	float: right;
	width: 587px;
	background-color: #B9D143;
	font-family: "Century Gothic";
	color: #1B1B1B;
	font-size: 24pt;
	text-align: left;
}
.contentTextHeader {
	font-family: "Century Gothic";
	font-size: 24px;
	text-align: center;
	height: 80px;
}

.H13pg{
	height: 314px;
	width: 1920px;
	float:left;
}

.imgbox{
	height: 244px;
	width: 570px;
	float: left;
	margin: 25px;
	border: 10px solid #1b1b1b;
	background-color: #b9d143;
}

.txtbox{
	height: 244px;
	width: 1210px;
	float: right;
	margin: 25px;
	border: 10px solid #1b1b1b;
	background-color: #b9d143;
	font-family: "Century Gothic";
	font-size: 24px;
	
}

.bigTextBox{
	border: 10px solid #1b1b1b;
	margin: 25px;
	float: right;
	height: 874px;
	width: 890px;
	background-color: #b9d143;
	font-family: "Century Gothic";
	font-size: 24px;
}

.bigImageBox{
	border: 10px solid #1b1b1b;
	margin: 25px;
	float: left;
	height: 874px;
	width: 890px;
	background-color: #b9d143;
	font-family: "Century Gothic";
	font-size: 24px;
}
.bigTextBox h1 {
	text-align:center;
}
.smallImageBox {
	height:291px;
	width:420px;
}